.task-icon {
  float: right;
  padding: 5px;
  color: $grey;
  position: relative;
}

.fa-star {
  color: $darker-green;
}

.fa-trash-o {
  top: -1px;
}

.fa-star-o {
  color: $light-green;
}

.fa-circle-thin, .fa-check-circle-o {
  float: left;
  padding-right: 10px;
  top: -2px;
}

.fa-check-circle-o {
  color: $darker-green;
}

.tag {
  width: 10px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: 1;
  box-shadow: -1px 1px 2px #d0cdcd;
  opacity: 0.8;
}

.tags-wrapper {
  margin: 10px;
}

.fa-tag {
  &:hover {
    opacity: 0.7;
  }
  &:active{
    opacity: 1;
  }
}





